# History files
.Rhistory
data/*

# Session Data files
data_handling_cleaning.RData

# User-specific files
.Ruserdata

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Scripts
scipts/police_data_handling_cleaning_drugs.R

# Paper
draft_paper.Rmd
draft_paper.docx
draft_paper.pdf
reference_doc.docx
refs.bib
spatial_submission.zip
spatial_submission
tc_traj.RData
