# History files
.Rhistory

# Data files
data/*
results/*
!data/osm_full.csv
results/*_cor.csv

# Session data files
data_handling_cleaning.RData
tc_traj.RData

# User-specific files
.Ruserdata

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Scripts
scripts/police_data_handling_cleaned_drugs.R
scripts/old

# Paper and submission files
draft_paper.Rmd
draft_paper.docx
draft_paper.pdf
reference_doc.docx
refs.bib
spatial_submission.zip
spatial_submission
tc_traj.RData
apa.csl
lit
img